.nav-link:hover {
    cursor: pointer;
}

/* #logging {
    display: flex;
    justify-content: center;
    align-items: center;
} */
#login_form {
    background-size: 100%;
    min-width: 300px;
    max-width: 300px;
    width: 300px; 
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#login_form h4 {
    word-spacing: 3px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}


#login_form h5 {
    word-spacing: 3px;
    font-weight: bold;
    text-align: left;
    font-size: 1.8em;
    margin-bottom: 30px;
    margin-top: 30px;
}
#login_form a {
    margin-top: 20px;
    text-decoration: none;
}

#login_form select {
    margin-bottom: 20px;
}