body {
  overflow: hidden;
}

.nav-link:hover {
  cursor: pointer;
}

.navbar {
  z-index: 2;
}

#sign_in_form,
#sign_up_form {
  background-size: 100%;
  min-width: 300px;
  max-width: 300px;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

#sign_in_form h4,
#sign_up_form h4 {
  word-spacing: 3px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 30px;
}

#sign_in_form h5,
#sign_up_form h5 {
  word-spacing: 3px;
  font-weight: bold;
  text-align: left;
  font-size: 1.8em;
  margin-bottom: 30px;
  margin-top: 30px;
}

#sign_in_form a,
#sign_up_form a {
  margin-top: 20px;
  text-decoration: none;
}

#sign_up_form select {
  margin-bottom: 20px;
}

#sign_in_form #error_login,
#sign_up_form #error_signup {
  color: red;
  display: none;
}

/* Fixed sidenav, full height */
.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 80px;
}

/* Style the sidenav links and the dropdown button */
.folder {
  text-decoration: none;
  font-size: 18px;
  color: #2bbbad;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}
/* On mouse-over */
.sidenav .folder:hover {
  color: #6edbd0;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

li, ul {
  text-decoration: none;
  cursor:pointer;
  list-style-type: none;
}
.hide {display:none;}

.file {
  color: chocolate;
}

/* On mouse-over */
.sidenav .file:hover {
  color: rgb(240, 170, 121);
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#pdf {
  margin-left: 250px; /* Same as the width of the sidebar */
  padding: 0px 0px;
  overflow-y: visible;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

/* Exam cards style */

.col-lg-3 {
  padding: 10px;
}

.card {
  cursor: pointer;
}
.container {
  padding-top: 10px;
}

#add_exam_button {
  bottom: 10px;
  left: 10px;
  position: fixed;
}
